<div class="container">
    <h1>Iniciar Sesion</h1>

    <div class="col">
        <div class="container">
            <div class="formulario">
                <form class="" (ngSubmit)="login()" #userForm="ngForm">
                    <i class="material-icons prefix">account_circle</i>
                    <label for="correo">Correo</label><br>
                    <input type="email" placeholder="Correo" [(ngModel)]="dataUser.correo" [ngModelOptions]="{standalone: true}" required><br>
                    <i class="material-icons prefix">lock</i>
                    <label for="contrasena">Contraseña</label><br>
                    <input type="password" placeholder="Contraseña" [(ngModel)]="dataUser.contrasena" [ngModelOptions]="{standalone: true}" required><br>

                    <button type="submit" [disabled]="!userForm.form.valid">Login</button>
                </form><br>
                <p id="letras-p">Quiere verificar si ya se encuentra registrado?</p><a href="#" routerLink="/activar">Activar Cuenta</a>
            </div>
        </div>
    </div>
</div>